node_modules/
.env
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Build output
dist/
build/

# Prisma / SQLite local data
prisma/*.db
prisma/*.db-journal
prisma/dev.db
prisma/dev.db-journal
prisma/prisma/*.db
prisma/prisma/*.db-journal

# IDE files
.vscode/
.idea/
